<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>微信数据列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="新媒体账号管理系统-管理员-微信数据列表" />
    <meta content="Mosheng" name="author" />
    <link rel="shortcut icon" href="__PUBLIC__assets/images/favicon.ico">

    <!-- App css -->
    <link href="__PUBLIC__css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__css/self.css" rel="stylesheet" type="text/css" />

</head>

<body>
    {include file="common/admin-slide"}
    <!-- container-fluid     -->
    <div class="wrapper">
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">微信数据列表</h4>
                        <a href="{:url('Manager/addwx')}" class="btn btn-success btn-sm float-right">添加微信数据</a>
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>手机编号</th>
                                    <th>微信账号</th>
                                    <th>微信密码</th>
                                    <th>微信名称</th>
                                    <th>好友量</th>
                                    <th>更新时间</th>
                                    <th>编辑</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="sel" id="a" empty="$empty"} {switch name=($i+1)%2} {case value="0"}
                                <tr class="table-bg text-text">
                                    <th>{$a.id}</th>
                                    <th>{$a.phonesn}</th>
                                    <th>{$a.wxaccount}</th>
                                    <th>{$a.wxpass}</th>
                                    <th>{$a.wxname}</th>
                                    <th>{$a.wxfans}</th>
                                    <th>{$a['wxtime']}</th>
                                    <td><a href="editwx?id={$a.id}">编辑</a>|<a href="delwx?id={$a.id}" onclick="return confirm('确定要删除吗?')">删除</a>|<a
                                            href="editwxfans?id={$a.id}" style="color:#c72128;">修改粉丝量</a></td>
                                </tr>
                                {/case} {case value="1"}
                                <tr class="">
                                    <th>{$a.id}</th>
                                    <th>{$a.phonesn}</th>
                                    <th>{$a.wxaccount}</th>
                                    <th>{$a.wxpass}</th>
                                    <th>{$a.wxname}</th>
                                    <th>{$a.wxfans}</th>
                                    <th>{$a['wxtime']}</th>
                                    <td><a href="editwx?id={$a.id}">编辑</a>|<a href="delwx?id={$a.id}" onclick="return confirm('确定要删除吗?')">删除</a>|<a
                                            href="editwxfans?id={$a.id}" style="color:#c72128;">修改粉丝量</a></td>
                                </tr>
                                {/case} {/switch} {/volist}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    kuaidao Admin &copy; 2018 - tecms.net
                </div>
            </div>
        </div>
    </footer>




</body>

</html>