<header id="topnav">
    <nav class="navbar-custom">
        <div class="container-fluid">
            <ul class="list-unstyled topbar-right-menu float-right mb-0">

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0" href="{:url('Index/login')}" >登陆</a>
                </li>
            </ul>
            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <a href="index.html" class="logo">
                        <span class="logo-lg">
                            <img src="__PUBLIC__assets/images/logo.png" alt="" height="18">
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- topbar-menu -->
    <div class="topbar-menu">
        <div class="container-fluid">
            <div id="navigation">
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</header>