@charset "utf-8";
/* CSS Document */
h4,span,pre,p,h3,ul,li,input,body,div{margin:0;padding:0;}
body{background:#fff;font-family:"微软雅黑";}
a{text-decoration:none;}
ul{list-style:none;}
/*头部的设置*/
.header .head-logo,
.header{
	width:1189px;
	margin:0 auto;
}

/*登录设置*/
.head-login{
	width:100%;
	height:50px;
	overflow:hidden;
}
.head-login a{color:#7d7d7d;}
.head-login a:hover{color:#008cd6;}
.head-login .h-left{
	width:320px;
	height:50px;
	line-height:50px;
	float:left;
	color:#7d7d7d;
}


 .head-login .h-right{
	width:220px;
	height:30px;
	line-height:30px;
	float:right;
}

/*logo的设置*/
.head-logo {
	width:100%;
	height:123px;
	background:#fff url(../images/hbg.png) no-repeat;
}

.logo-con{
	width:1189px;
	height:122px;
	margin:0 auto;
	overflow:hidden;
}
.logo-con .l-left{
	display:inline-block;
	width:150px;
}
.logo-con .l-right{
	width:800px;
	float:right;
	height:122px;
}
.l-right{overflow:hidden;}
/*表单的设置*/
.l-right form{
	width:516px;
	height:40px;
	color:#858a8d;
	font-size:14px;	
	margin:38px 0 0 0;
	background:green;
	float:left;
	border:2px solid #008cd6;
}
form .select,.text,.button{
	height:40px;
	line-height:40px;
	border:none;
}
form .select{
	width:100px;
	border-right:2px solid #dddddd;
}
/*按钮的设置*/
.l-right form .button{
	width:96px;
	background:#008cd6 url(../images/search.png) no-repeat 20% center;
}

/*文本框的设置*/
form .text{width:320px;}
/*电话图标的设置*/
.l-right a{
	display:block;
	float:left;
	width:200px;
	margin-top:43px;
	margin-left:16px;
}

/*导航栏部分的设置*/
.banner{
	width:100%;
	height:425px;
}
/*列表项的设置*/
.banner-item{
	width:100%;
	height:45px;
	background:#4c5a65;
}
.banner-item ul{
	width:1189px;
	margin:0 auto;
	overflow:hidden;
}
.banner-item ul li{
	float:left;
	width:96px;
	margin-right:10px;
	text-align:center;
	line-height:45px;
}
.banner-item ul li:hover{background:#008cd6;}
.banner-item ul li a{
	color:#ffffff;
	font-family:"微软雅黑";
	font-size:16px;
}
/*导航内容的设置*/
.banner-con{
	width:100%;
	height:380px;
	background:url(../images/ban-bg.png) no-repeat;
}
.ban-body{
	width:1189px;
	margin:0 auto;
	overflow:hidden;
}
/*导航内容列表的设置*/
.banner-con .ban-list{
	width:595px;
	height:299px;
	margin-top:39px;
	overflow:hidden;
}
.ban-list ul{float:left;}
.ban-list ul li{
	width:100px;
	height:60px;
	line-height:58px;
	text-align:center;
	border-bottom:1px solid #e1e1e1;
}
.ban-list ul li:hover a{color:#2695d9;}
.ban-list ul li:hover .sprite_03{background:url(../images/sprite.png) no-repeat 0 -26px;}
.ban-list ul li:hover .sprite_06{background:url(../images/spritehover.png) no-repeat 0 -13px;}
.ban-list ul li:hover .sprite_08{background:url(../images/spritehover.png) no-repeat 0 0;}
.ban-list ul li:hover .sprite_11{background:url(../images/spritehover.png) no-repeat 0 -50px;}
.ban-list ul li:hover .sprite_15{background:url(../images/spritehover.png) no-repeat 0 -39px;}


/*雪碧图的设置*/
.sprite{
	display:inline-block;
	height:13px;
	width:14px;
	margin-right:6px;
}
.sprite_03{
	background:url(../images/spritehover.png) no-repeat 0 -26px;
}
.sprite_06{
	background:url(../images/sprite.png) no-repeat 0 -13px;
}
.sprite_08{
	background:url(../images/sprite.png) no-repeat 0 0;
}
.sprite_11{
	background:url(../images/sprite.png) no-repeat 0 -50px;
}
.sprite_15{
	background:url(../images/sprite.png) no-repeat 0 -39px;
}
.ban-list ul li a{
	color:#555;
	font-size:14px;
	
}
/*iframe的设置*/
iframe{float:left;
	width:341px;
	height:299px;
	margin-left:20px;
	frameborder:0;
}

/*主体内容的设置*/
.container{
	clear:both;
	width:100%;
	/*height:3000px;*/
	/*overflow:hidden;*/
	background:#fff;
	margin:0;
	padding:0;
}
/*热门推荐的设置*/
.con-top{
	width:1189px;
	margin:0 auto;
	margin-top:54px;
	overflow:hidden;
}
.con-top h3{
	display:inline-block;
	width:120px;
	color:#8d278b;
	font-size:25px;
}
.con-top span{
	display:inline-block;
	color:#000000;
	font-size:14px;
	font-family:"楷体";
}

.con-con{
	width:1189px;
	margin:0 auto;
	margin-top:10px;
	overflow:hidden;
}
/*热门推荐每一个小项的设置*/
.con-list{
	width:460px;
	height:345px;
	float:left;
	margin-right:15px;
	overflow:hidden;
}
/*热门推荐最后一个小项单独的设置*/
.last-list{
	width:223px;
	height:345px;
}
.con-list img{
	display:block;
	width:100%;
}
.con-list p{
	width:160px;
	height:30px;
	line-height:30px;
	float:left;
	color:#000000;
	font-family:"微软雅黑";
	font-size:14px;
}
.con-list .price{
	float:right;
	width:100px;
	height:30px;
	line-height:30px;
}
.price span{
	width:70px;
	display:inline-block;
	color:#ef5a00;
}
.price pre{
	display:inline-block;

	width:16px;
}
/*最后一个热闹推荐项的标题设置*/
.last-list p{width:100px;}

/*周边旅游的设置*/
.trop{margin-top:50px;}
.trop-top{width:1189px;height:42px;border-bottom:2px solid #bfbfbf;margin:0 auto;line-height:40px;
		  margin-top:50px;}
.trop-top h3,
.trop-top li{float:left;}
.trop-top p{float:right;}
.trop-top h3{color:#ff7800;}
.trop-top h3>span{font-size:12px;font-family:"楷体";color:#000;font-weight:normal;}


/*周边旅游列表项的设置*/
.trop-top li{width:70px;height:41px;margin-left:40px;}
.trop-top li a,
.trop-top p a{color:#aaa;height:100%;display:inline-block;}
.trop-top li a:hover{color:#ff7800;border-bottom:2px solid #ff7800;}

/*周边旅游的内容设置*/
.trop-con{width:1189px;margin:0 auto;overflow:hidden;}

/*周边旅游左侧的设置  总体设置*/
.trop-con .trop-left{width:17%;padding-top:30px;float:left;}
.trop-left ul{overflow:hidden;}
.trop-left ul h4{font-weight:normal;}
.trop-left ul li {float:left;width:50px;height:25px;margin-top:18px;text-align:left;}
.trop-left ul li a{color:#222;font-size:12px;display:inline-block;text-align:center;line-height:25px;width:100%;height:100%;border-radius:15px;}
.trop-left ul li .one-left{text-align:left;padding-left:15%;box-sizing:border-box;}
.trop-left ul li .left-last{width:67px;margin-left:28px;}
.trop-left ul li:hover a{color:#fff;background:#ff7800;}

/* 特色玩法  的设置*/
.trop-con .trop-left .left-two li {width:60px;}
/*周边旅游左侧上面ul的设置*/
.trop-left .left-two{margin-top:40px;}
.trop-left .left-two li{width:57px;}


/*周边旅游右侧的设置  总体设置*/
.trop-con .trop-right{width:83%;padding:30px;height:100%;float:left;
	padding:0;padding-top:30px;}
.trop-list{float:left;height:100%;width:460px;margin-right:28px;}
.trop-con .trop-listthree{margin-right:0px;}
.trop-list img{display:block;width:100%;}

.trop-listtwo,
.trop-listthree{width:220px;float:left;}

.trop-listtwo .tlist-two,
.trop-listthree .tlist-two
{margin-top:37px;}

/*价格及标题的设置*/
.trop-list p{font-size:12px;color:#000;float:left;width:140px;margin-top:10px;}
.trop-list .price{float:right;margin-top:10px;}
.trop-listtwo p,
.trop-listthree p{width:100px;}

.trops{width:1189px;margin:30px auto;height:500px;background:orange;}

/*国内旅游  上面的设置*/
.inner .trop-top h3{color:#50b400;}
.inner .trop-top li a{color:#000;}
.inner .trop-top li a:hover{color:#50b400;border-bottom:2px solid #50b400;}
/*国内旅游  内容的设置*/
.inner .trop-left ul li:hover a{color:#fff;background:#50b400;}



/*境外旅游  上面的设置*/
.outer .trop-top h3{color:#209ef6;}
.outer .trop-top li a{color:#000;width:67px;}
.outer .trop-top li a:hover{color:#209ef6;border-bottom:2px solid #209ef6;}

/*境外旅游  内容的设置*/
.outer .trop-left ul li:hover a{color:#fff;background:#209ef6;}
.outer .trop-left ul li .left-last{width:50px;margin-right:6px;}


/*景点门票  上面的设置*/

.tourist  .trop-top h3{color:#bf7554;}
.tourist  .trop-top li a{color:#000;width:67px;}
.tourist  .trop-top li a:hover{color:#bf7554;border-bottom:2px solid #bf7554;}
/*景点门票  内容的设置*/
.tourist  .trop-left ul li:hover a{color:#fff;background:#bf7554;}

/*当地游的设置*/

.local .trop-top h3{color:#16bbbf;}
.local-con{margin-top:30px;}
.local-con .list-bottom,
.local-con .list-top{overflow:hidden;width:1189px;margin:0 auto;}/*两行的总设置*/
.local-con .list-bottom{margin-top:20px;}
/*每一个小区域的设置*/
.local-con .local-list{float:left;overflow: hidden;margin-left:13px;width:220px;}
.local-list img{display:block;width:100%;height:100%;}
.local-list p{float:left;width:80px;}
.local-list .price{float:right;}

/*旅游攻略的设置*/
/*.ways{background:blue;}*/
.ways .trop-top h3{color:#6f0373;}

.ways-con{width:1189px;margin:0 auto;overflow:hidden;}
.ways-con dl{float:left;margin-left:25px;}
.ways-con dl dt a{font-size:12px;color:#222222;}


/*合作商家的设置 */
.operate{width:1189px;margin:0 auto;}
.operate .trop-top h3{color:#4c5a65;}
.operate .operate-con{width:1189px;margin:0 auto;}
.operate .operate-con img{display:inline-block;width:220px;margin-top:30px;margin-right:10px;}

/*底部的设置*/

/*底部上面 灰色部分的设置*/
.footer{margin-top:60px;}
.foot-top{width:100%;background:#4c5a65;height:270px;}
.foot-top .ftop-con{width:1189px;margin:0 auto;overflow:hidden;}
.ftop-con .ftop-list{float:left;width:180px;border-right:3px dotted #707b84;
					height:200px;padding-left:20px;box-sizing: border-box;
					margin-top:30px;
				}
.ftop-con dl{color:#fff;}
.ftop-con dl dt{margin:0;padding:0;font-weight:bolder;margin-bottom:30px;font-weight:normal;}
.ftop-con dl dd{margin:0;padding:0;font-size:14px;margin-top:18px;color:#aeb3b7;}

/*底部中间  部分的设置*/
.foot-center{width:1189px;margin:0 auto;margin-top:35px;padding-left:60px;}
.foot-center p{color:#000;font-size:12px;text-align:center;}
.foot-center .center-bottom{overflow:hidden;margin-top:20px;}
.center-bottom .center-list{float:left;margin-right:10px;}
.center-list .logo-con{width:100px;height:40px;border:1px solid #eeeeee;
						background:url(../images/logos_23.png) no-repeat center center;}
.center-list p{width:80px;color:#999999;text-align:center;}


/*分别设置背景*/
.center-list .logo-two{background:url(../images/logos_22.png) no-repeat center center;}
.center-list .logo-three{background:url(../images/logos_25.png) no-repeat center center;}
.center-list .logo-four{background:url(../images/logos_27.png) no-repeat center center;}
.center-list .logo-five{background:url(../images/logos_28.png) no-repeat center center;}
.center-list .logo-six{background:url(../images/logos_29.png) no-repeat center center;}
.center-list .logo-seven{background:url(../images/logos_30.png) no-repeat center center;}
.center-list .logo-eight{background:url(../images/logos_32.png) no-repeat center center;}
.center-list .logo-nine{background:url(../images/logos_13.png) no-repeat center center;}
.center-list .logo-ten{background:url(../images/logos_11.png) no-repeat center center;}

/*友情链接 的设置*/
.friend-link{width:1189px;margin:0 auto;overflow:hidden;margin-top:35px;}
.friend-link span{font-size:14px;color:#222;float:left;width:70px;}
.friend-link div{float:left;width:1100px;}
.friend-link div a{margin-right:17px;color:#767676;font-size:12px;}