@charset "utf-8";

/* CSS Document */

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.w1200{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.min1200 {
    min-width: 1200px;
    overflow: hidden;
}

/*subpage templet code by jhy*/

/*banner begin*/

.sbp-ban-box {
    width: 100%;
    height: 594px;
    position: relative;
    overflow:hidden;
}

.sbp-bbg {
    width: 100%;
    height: 594px;
    position: absolute;
    background: url(../images/sbp-bbg.jpg) no-repeat center center;
    background-size: cover;
}

.sbp-mp{
    width: 736px;
    height: 84px;
    position: absolute;
    top: 285px;
    left:258px;
    background: url(../images/sbp-mp.png) no-repeat center center;
    background-size: 100% 100%;
}

.sbp-mf-wrap{
    width: 70px;
    height: 100px;
    position: absolute;
    top: 275px;
    left:653px;
}

.sbp-mf{
    width: 70px;
    height: 100px;
    position: absolute;
    top: 0;
    left:0;
    background: url(../images/sbp-mf.png) no-repeat center center;
    background-size: 100% 100%;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/*banner end*/

/*content one begin*/

.con-box-1{
    
}

/*content one end*/
